@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_green: #1dd1a1;
    --color_green_hover: #10ac84;
}